In [31]:
import pandas as pd

In [32]:
df = pd.read_csv('samples/all_1000_batch1_final.csv')

In [33]:
def get_vals(col):
    return [v for v in df[col].values if '(' not in v]

all_vals = get_vals('id1') + get_vals('id2') + get_vals('id3') + get_vals('id4') + get_vals('id5')

In [34]:
all_vals = list(map(int, all_vals))
all_vals = set(all_vals)

In [35]:
df2 = pd.read_csv('samples/train-qar_sample_100000.csv')

/Users/nitish/miniconda2/envs/py3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [36]:
df2.id.apply(lambda x: x in all_vals).sum()

43

In [37]:
ids1 = df2.id[df2.id.apply(lambda x: x in all_vals)].values
ids2 = df2.head(10000).id[df2.id.apply(lambda x: x not in all_vals)].values
all_ids = list(ids1) + list(ids2)

In [38]:
all_ids = set(all_ids)
df3 = df2[df2.id.apply(lambda x: x in all_ids)]

In [10]:
df3 = df3[df3.category != 'Electronics']
len(df3)

783

In [43]:
df4 = df3[df3.id.apply(lambda x: x in ids1)]

In [44]:
# df4.to_csv('new_31.csv')

In [45]:
df5 = df3[df3.id.apply(lambda x: x in ids2)]
# df5.head(69).to_csv('new_69.csv')

In [46]:
new_df = df5.iloc[200:]

In [47]:
len(new_df)

9800

In [48]:
new_df = new_df[new_df.review2.notnull()]
len(new_df)

7681

In [49]:
new_df.iloc[:200].to_csv('samples/raghu_easy_all_200.csv')
new_df.iloc[200:400].to_csv('samples/nitish_easy_all_200.csv')
new_df.iloc[400:600].to_csv('samples/mansi_easy_all_200.csv')
new_df.iloc[600:800].to_csv('samples/rc_easy_all_200.csv')

In [29]:
import numpy as np

random_ids = np.random.permutation(np.arange(100000))[:200]

In [30]:
df2.iloc

array([ 2875, 16360, 60904, 33692, 87847, 34686, 51516, 39892, 54101,
        4840, 51066, 96531, 64896,  7837, 22398, 14165, 43884, 12500,
       60713, 64031, 74961, 53010,  5130, 99828, 92141, 67215, 99847,
       46831, 77201,  9933, 55612, 44911, 84704, 79532, 38265, 88302,
       15149, 84026, 23853, 84508, 76435, 80232, 38812, 65806, 24331,
       14630, 47552, 12895,   701, 95811, 31634, 29357, 85778, 90978,
       79141, 83190, 14837,  2139, 24850, 46309, 52559, 56630, 48129,
       64292, 60358, 86026, 79106,  9371, 77375, 22140, 51284, 21087,
       36618, 42289, 74430, 85815,  5771, 85676,  9115, 77172, 11542,
       46367, 92503, 85944, 18065, 81046, 28174,  6723, 69033, 90460,
       68160, 33868, 58194, 15732, 75808, 87465, 17271, 38135, 59166,
       24149, 31757, 20162, 46762, 69064, 30346, 35984, 26440, 81043,
       34400, 35672, 25141,  4652, 37568, 64669, 39583, 36921, 13899,
       43496, 33034, 38331, 37716, 32251, 94897, 24668, 55040, 14538,
       65532, 30767, 32269, 12523, 26022, 87038,  5252, 74319, 16159,
       67729, 57145, 77472, 77487,  2034, 83133, 18868,  2519, 16548,
       79136,  9082, 67780, 52790, 90406, 81896, 33825, 55311, 80400,
       76717, 76888,  2664,  1744, 79865, 40363, 34778, 53034, 29501,
       58401, 17845, 87279, 58378,  4069, 82399, 26460, 12202, 42957,
       88036, 89556, 46493, 94715, 92881, 61760,  3278, 71279, 51854,
       13779, 50943, 55540, 89812, 50926, 36125, 60185, 81021, 16580,
        4213, 37320, 57420,  7424, 27918, 38098, 31244, 30586, 44630,
       23843, 63056])